!!!
%html
  %head
    %title Github Ninja
    %link{rel: "stylesheet", href: "css/reset.css"}
    %link{rel: "stylesheet", href: "css/bootstrap.css"}
    %link{rel: "stylesheet", href: "css/style.css"}
    %link{rel: "stylesheet", href: "css/slider.css"}
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"}
    %script{src: "http://d3js.org/d3.v3.min.js"}
    %script{src: "js/Tooltip.js"}
    %script{src: "js/bootstrap-slider.js"}
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40759642-1', 'aaronneyer.com');
      ga('send', 'pageview');


    %script{src: "js/vis.js"}
    :javascript
      var dates = #{@dates};
      var repo = "#{@repo}";
      var di = 0;
      $(document).ready(function(){
        $(document).on("change", "#song_select", function(){window.location.replace("?repo="+$(this).val())});
        slider = $(".slider").slider('setValue', 0)
        slider.on("slide", function(ev){
          if (di != ev.value) {
            di = ev.value;
            $("#date").html(dates[di]);
            $("#date").trigger("change");
          }
        });
      });

  %body
    #container.container
      %header
        %h1 Github Repo Networks Over Time
        %p
          Select a repository from the dropdown, and then move the slider to
          view how the connections between people on the repo changes over time.
          %br
          (Note: Some of the larger Repo's can get a bit laggy)
      #controls
        #change.control
          %h3 Change Graph
          %input{type: "text", id: "#data-select", class: "slider", "data-slider-max" => @dates.count-1,
          "data-slider-min" => 0, "data-slider-value" => 0, "data-slider-tooltip" => "hide"}
          %span#date
        #repo.control
          %h3 Change Repo
          %select#song_select
            %option{value: "", selected: @repo==""} Choose a Repo
            - @repos.each do |r|
              %option{value: r, selected: r==@repo}= r.sub(/_/, "/")

      #main{role: "main"}
        #vis
      %footer Data from api.github.com and githubarchive.org
