!!!
%html
  %head
    %title Github Repo's over Time
    %link{rel: "stylesheet", href: "css/reset.css"}
    %link{rel: "stylesheet", href: "css/bootstrap.css"}
    %link{rel: "stylesheet", href: "css/style.css"}
    %link{rel: "stylesheet", href: "css/slider.css"}
    %script{src: "js/jquery.js"}
    %script{src: "js/d3.v2.js"}
    %script{src: "js/Tooltip.js"}
    %script{src: "js/bootstrap-slider.js"}
    %script{src: "js/vis.js"}
    :javascript
      var dates = #{@dates};
      var repo = "#{@repo}";
      var di = 0;
      $(document).on("change", "#song_select", function(){window.location.replace("?repo="+$(this).val())});
      $(document).ready(function(){
        slider = $(".slider").slider('setValue', 0)
        slider.on("slide", function(ev){
          if (di != ev.value) {
            di = ev.value;
            $("#date").html(dates[di]);
            $("#date").trigger("change");
          }
        });
      });

  %body
    #container.container
      %header
        %h1 Github Repo Networks
        %p
          Select a repository from the dropdown, and then move the slider to
          view how the connections between people on the repo changes over time.
          %br
          (Note: Some of the larger Repo's can get a bit laggy)
      #controls
        #change.control
          %h3 Change Graph
          %input{type: "text", id: "#data-select", class: "slider", "data-slider-max" => @dates.count-1,
          "data-slider-min" => 0, "data-slider-value" => 0, "data-slider-tooltip" => "hide"}
          %span#date
        #repo.control
          %h3 Change Repo
          %select#song_select
            %option{value: "", selected: @repo==""} Choose a Repo
            - @repos.each do |r|
              %option{value: r, selected: r==@repo}= r.sub(/_/, "/")

      #main{role: "main"}
        #vis
      %footer Data from api.github.com and githubarchive.org
